.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    font-family: "Poppins", sans-serif;
  }
  
  .thank-you h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .thank-you p {
    font-size: 1.25rem;
    color: #555;
    margin: 20px 0;
  }
  
  .home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #01204E;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .home-button:hover {
    background-color: #028391;
  }
  