.homepage {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  background-color: #032B5F;
  min-height: 100vh;
  color: white;
}

.hpgheader-text {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.create-token-button {
  background-color: #fff;
  color: #032B5F;
  padding: 10px 20px;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.create-token-button:hover {
  background-color: #0056b3;
  color: #fff;
}

.business-info {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.business-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.business-info p {
  font-size: 14px;
  margin: 5px 0;
}

.list-container {
  margin-top: 30px;
}

.list-text {
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .hpgheader-text {
    font-size: 20px;
  }

  .create-token-button {
    font-size: 14px;
  }

  .business-info h2 {
    font-size: 18px;
  }

  .business-info p {
    font-size: 12px;
  }

  .list-text {
    font-size: 18px;
  }
}