.homepage {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  /* min-height: 100vh; */
  color: white;
}

.hpgheader-text {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.create-token-button {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #032B5F;
  padding: 10px 20px;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.create-token-button:hover {
  background-color: #305d95;
  color: #fff;
}

.list-container {
  margin-top: 30px;
}

.list-text {
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .hpgheader-text {
    font-size: 20px;
  }

  .create-token-button {
    font-size: 14px;
  }

  .list-text {
    font-size: 18px;
  }
}